<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<div class="container my-5">
    <h3> Update Student</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#" th:action="@{/admin/users/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="username" class="col-form-label">Name</label>
                            <input type="text" th:field="*{login}" class="form-control" id="username"
                                   placeholder="Name">
                        </div>
                        <div class="form-group col-md-8">
                            <label for="password" class="col-form-label">Email</label>
                            <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="form-group col-md-8">
                        <label for="username" class="col-form-label">Role</label>
                        <li th:each="search : ${roleList}">
                            <label th:text="${search.getAuthority()}"></label>
                            <input type="checkbox" name="searchValues" th:value="${search.getAuthority()}"/>
                        </li>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="Update Student">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>